@import url(../button/button.css);
@import url(../utilits/scroll-lock.css);

.popover {
  --popover-color: #000;
}


html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.popover {
  margin: 30px 5px;
  width: 200px;
  height: 100px;
  border: 0px solid transparent;
  padding: 0.25rem;
  outline: none;
  box-shadow: 0 0 2px 0 var(--popover-color);
  border-radius: 0.75rem;
}

.popover::backdrop {
  backdrop-filter: blur(2px);
}

.popover__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popover__close-button {
  align-self: flex-end;
  min-width: 1rem;
  height: calc(1rem * 1.5 + 0.4rem);
  padding: 0.2rem;
  line-height: 1;
  --btn-text-color: grey;
  --btn-background: transparent;
  stroke: var(--btn-text-color);
}

.popover__close-button:hover {
  --btn-hover-color: transparent;
}

.popover__close-button:focus {
  box-shadow: 0 0 0 1px var(--btn-text-color);
}
